%main.container{ :style => "width: 400px; margin-top: 100px; padding: 0"}
  %h2 Sign up
  = form_for(resource, as: resource_name, url: registration_path(resource_name), html: { class: "form-container" }) do |f|
    = render "admins/shared/error_messages", resource: resource
    .field
      = f.label :email
      %br/
      = f.email_field :email, autofocus: true, autocomplete: "email", placeholder: "example@email.com"
    .field
      = f.label :password
      - if @minimum_password_length
        %em
          (#{@minimum_password_length} characters minimum)
      %br/
      = f.password_field :password, autocomplete: "new-password", placeholder: "password123"
    .field
      = f.label :password_confirmation
      %br/
      = f.password_field :password_confirmation, autocomplete: "new-password", placeholder: "password123"
    .actions{ :style => "margin-top: .25rem"}
      = f.submit "Sign up", class: 'btn btn-md btn-secondary'
      = render "admins/shared/links"
