%table
  %thead
    %tr
      %th Email
      %th Category
      %th Stock Name
      %th Shares
      %th Price
      %th Create_at

  %tbody
    - @transactions.each do |transaction|
      %tr
        %td= transaction.trader.email
        %td= transaction.category
        %td= transaction.stock
        %td= transaction.shares
        %td= transaction.price
        %td= transaction.created_at