%table
  %thead
    %tr
      %th Category
      %th Name
      %th Shares
      %th Price
      %th Created_at
  %tbody
    - @transactions.each do |transaction|
      %tr
        %td= transaction.category
        %td= transaction.stock
        %td= transaction.shares
        %td= transaction.price
        %td= transaction.created_at